extends ../layout

block content
	.container-fluid#detail-wrap
		.row#photo-row
			#banner-photo
		#details-container
			#details-text
				.row#name-row
					#name.col-xs-6
						.detail-text#name-box
							h1 #{loc.name}
							span #{loc.location[0]}
							br
							span
								for locPart, i in loc.location
									if (i !=0) 
										if (i != loc.location.length-1)
											| #{locPart}, 
										else
											| #{locPart}

							br
							- for (var i=0; i < Math.floor(loc.rating); i++)
								span.fa.fa-star
							- var remaining = 5 - loc.rating
								- if (remaining%1 != 0)
									span.fa.fa-star-half-o
										- var remaining = remaining - 1
								- if (remaining > 0)
									- for (var i=0; i < remaining; i++)
										span.fa.fa-star-o
							br

							span #{loc.phone}
							br
							a(href="#{loc.url}") #{loc.url}
					#rating.col-xs-6
						.detail-text#map-box
							- var query = loc.location[0] + "," + loc.location[loc.location.length-1]
								//- span #{query}
								iframe(width='100%', height='200', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC4PUr3CsIP7-2ZFbRovCjt3K2rD4k8jh8&q=' + query)
								//- iframe(width='100%', height='200', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC4PUr3CsIP7-2ZFbRovCjt3K2rD4k8jh8&q=Space+Needle,Seattle+WA')